
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}
    
.container {
    grid-column: span 5 / span 5;
}

.div2 {
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-row-start: 2;
}

.div3 {
    grid-column: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 2;
}

.div4 {
    grid-column: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 3;
}

.div5 {
    grid-column: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 4;
}

.div6 {
    grid-column: span 5 / span 5;
    grid-row-start: 5;
}
        